@using DAL.Models
@using KNXManager.BusConnection
@inject IBusCommunicator busCommunicator

<h4>KNX Interfaces List</h4>

    @if(Interfaces.Count() != 0)
    {
        <MatList>
            @foreach (var i in Interfaces)
            {
                <MatListItem>
                    IP Address - @i.Ip
                </MatListItem>
                <MatListItem>
                    Name - @i.Name
                </MatListItem>
                <MatListItem>
                    MAC - @i.Mac
                </MatListItem>
                <MatListItem>
                    State - @i.State
                </MatListItem>
                <MatButton Raised="true" OnClick="@(() => OnBtnSelectPress(i.Ip))">Select</MatButton>            }
        </MatList>
    }
    else
    {
        <p>No Interfaces found.</p>
    }



@code {

    [Parameter]
    public List<KnxInterface> Interfaces { get; set; }

    [Parameter]
    public EventCallback OnInterfaceSelected { get; set; }

    async Task OnBtnSelectPress(string ip)
    {
        busCommunicator.SetInterface(ip);
        await OnInterfaceSelected.InvokeAsync();
    }


}
